/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lacquer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
  scroll-behavior: smooth;
}
/* Global Styles */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color: #f0f0f0; /* Light text for dark mode */
  background-color: #121212; /* Black Friday dark background */
  overflow-x: hidden;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Header */
.header {
  /* background: linear-gradient(45deg, #e02528, #7a0f12, #000000); */
  color: #121212; /* Dark text for contrast */
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.header .logo {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 100px;
}

/* .header h1 {
  font-size: 3.5rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
} */


/* General Reset */
body, h1, p, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 500px;
  background-image: url('./assets/grid.png'); 
  background-size: contain;
  background-position: center ;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.hero-section .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

.hero-section .content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #a1a1a1;
}

.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.star {
  font-size: 2rem;
  color: #ffc107;
  margin-right: 5px;
}

.rating-text {
  font-size: 1.2rem;
  color: #ffed8e; 
  margin-left: 10px;
}

.cta-button {
  background-color: #921014;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button a {
  color: #ffff;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #d01f26; 
}


/* Services Section */
.services {
  padding: 60px 20px;
  text-align: center;
  background-color: #1a1a1a;
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #ffff;
  font-family: 'Playfair Display', serif;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.service-card {
  position: relative;
  border: 2px solid #e02528;
  border-radius: 15px;
  text-align: center;
  background: #2a2a2a; 
  color: #f0f0f0; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: scaleUp 0.8s ease-in-out;
}

.service-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  margin-bottom: 15px;
}

.service-card h3 {
  color: #cccccc;
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-family: "Lacquer", system-ui;
  padding: 0 20px;
}


.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.service-card p {
  color: #cccccc;
  padding: 0 10px 20px 0;
}

/* Schedule Call Section */
.schedule-call {
  background-image: url(./assets/grid.png);
  background-size: contain;
  background-position: center;
  padding: 60px 20px;
  text-align: center;
}

.schedule-call h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffff;
  font-family: 'Playfair Display', serif;
}

.schedule-call iframe {
  width: 100%;
  max-width: 800px;
  height: 500px;
  border: 4px solid #e02528;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Call to Action */
.cta {
  background: linear-gradient(45deg, #e02528, #7a0f12);
  color: #121212;
  text-align: center;
  padding: 60px 20px;
  animation: fadeIn 1.5s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cta h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
}

.cta button {
  background-color: #121212;
  color: #e02528;
  font-size: 1.1rem;
  padding: 15px 30px;
  border: 2px solid #e02528;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Raleway', sans-serif;
}

.getstarted {
  background-color: #121212;
  color: #e02528;
  font-size: 1.1rem;
  padding: 15px 30px;
  border: 2px solid #e02528;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Raleway', sans-serif;
}

.getstarted:hover {
  background-color: #e02528;
  color: #121212;
  transform: scale(1.1);
}

.cta button:hover {
  background-color: #e02528;
  color: #121212;
  transform: scale(1.1);
}

/* Newsletter Subscription */
.newsletter {
  background-color: #1a1a1a;
  padding: 40px 20px;
  text-align: center;
}

.newsletter h2 {
  font-size: 2rem;
  color: #e02528;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.newsletter input[type="email"] {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #e02528;
  border-radius: 5px;
  outline: none;
  color: #f0f0f0;
  background: #121212;
}

.newsletter button {
  background-color: #e02528;
  color: #121212;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.newsletter button:hover {
  background-color: #7a0f12;
}


/*White list */
.bouncing-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e02528;
  color: white;
  font-size: 2rem;
  padding: 15px 22px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup {
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  z-index: 1000;
}

.closePopup {
  color: black;
  font-size: 20px;
  float: right;
  cursor: pointer;
}

.popup h3 {
  font-size: 1.5rem;
  color: #e02528;
  margin-bottom: 10px;
}

.popup p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #313131;
}

.popup button {
  background-color: #e02528;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px 20px;
  margin-left: 2px;
  cursor: pointer;
}

.whiteListInput{
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #e02528;
  border-radius: 5px;
  outline: none;
}

.popup button:hover {
  background-color: #d01f26;
}


.footer {
  text-align: center;
  padding: 20px;
  background-color: #121212;
}

.social-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links a {
  color: #a1a1a1;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0077b6; /* Adjust color as per your brand */
}

.icon {
  display: flex;
  align-items: center;
}


/* Gallery Styles */
.gallery-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.slick-dots li button:before {
  color: #fff; /* Dots color */
}

.slick-dots li.slick-active button:before {
  color: #007bff; /* Active dot color */
}
